* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #ebdbdf;
    font-size: 24px;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

nav {
    max-width: 100vw;
    height: 14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #a75265;
}

#menu {
    width: 86vw;
    height: 14vh;
    display: inherit;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

#menu>a {
    background: rgb(87, 56, 92);
    border-radius: 8px;
    border: 5px dashed #502831;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px 2px;
}


#logout-button {
    background-color: #a75265;
    width: 10vh;
    height: 10vh;
    border-radius: 8px;
    padding: 4px;
}

#logout-img {
    width: 8vh;
    height: 8vh;
}

#logo {
    width: 9vh;
    height: 9vh;
}

main {
    max-width: 100vw;
    min-height: 86vw;
    background: #57385c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

a {
    text-decoration: none;
    color: black;
}

main a {
    width: 25vw;
    height: 5vw;
    margin: 20px;
    border: 5px solid rgb(60, 31, 90);
    border-radius: 25px;
    background-color: #a75265;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main h1 {
    width: 100vw;
    max-width: 100vw;
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 4px 4px 20px #0c070f;
}

#login-button {
    margin-right: 25px;
}

.first-color {
    background: #57385c;
}

.second-color {
    background: #a75265;
}

.third-color {
    background: #ec7263;
}

.fourth-color {
    background: #febe7e;
}